ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(15, 10, 10, 0.733);
   
  }
  li {
    display: inline;
    float: right;
    
    }
 li a {
    display: block;
   
    color: white;
    text-decoration: none;
    background-color: rgb(109, 130, 223);
    padding-right: 0;
    
  }
  li a:hover {
    background-color: #111;
  }
  *{
    margin: 0;
    padding: 0;
   
  }
  .container{
   
    border: 5px solid black;
    width: 30%;
    height: 300px;
    background-color:antiquewhite ;
    
    text-align: center;
    
    
    
   
}
.box{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  body{
    background-color: rgb(175, 195, 252);
  }
  .list{
    color: green;
    text-align: center;
    font-size: large;
  
    
   
 
    
  }
 
